body {
  background-color: #FCFCFC;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 300;
  font-size: 2.625em;
}

label {
  font-size: 1em;
  color: #818181;
}

main {
  max-width: 960px;
  padding: 0 2em;
  margin: 0 auto;
}