@import 'config.scss';

#login {
  display: block;
  max-width: 640px;
  margin: 0 auto;
}

#login h1 {
  text-align: center;
}

#login label,
#login input[type="email"],
#login input[type="password"] {
  display: block;
}

#login input[type="email"],
#login input[type="password"] {
  border: .5px solid #333;
  width: 100%;
  font-size: map-get($font-sizes, 'p');
  line-height: 2;
  padding: .2em 0 .2em .2em;
}

// Add some vertical spacing.
#login label {
  margin: 1em 0;
}

#login input[type="submit"] {
  display: block;
  color: white;
  font-size: map-get($font-sizes, 'p');
  background-color: map-get($colors, 'accent');
  border: none;
  padding: .5em 0;
  width: 100%;
  border-radius: .1em;

  &:hover {
    background-color: darken(map-get($colors, 'accent'), 10%);
  }
}

#login #register {
  display: block;
  color: map-get($colors, 'accent');
  text-decoration: none;
  text-align: center;
  font-size: map-get($font-sizes, 'p');
  margin: 1em 0;

  &:hover {
    color: darken(map-get($colors, 'accent'), 10%);
  }
}

